html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}

body {
  width: 350px;
  margin: 100px auto;
  color: white;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-image: linear-gradient(#615dad, #ffc8da);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.uvodni {
  width: 350px;
  height: 210px;
  border-radius: 7px 7px 0 0;
  background-color: #283e50;
  display: block;
}
main {
  background-color: #283e50;
  padding: 20px 15px;
  line-height: 1.5;
}

h1 {
  font-size: 50px;
  font-weight: normal;
  font-family: 'Lobster', cursive;
  margin: 0;
  padding: 0;
}

footer {
  width: 350px;
  list-style: none;
  margin: 0;
  padding: 0;
  align-self: stretch;
}

.pravidla {
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 15px 0;
  background-color: #1fcca4;
  border-bottom: 0.5px solid #283e50;
  display: block;
}

.pravidla:hover {
  background-color: #1cbb96;
}

.hrat {
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 15px 0;
  background-color: #0197f6;
  display: block;
}

.hrat:hover {
  background-color: #0090e9;
}
