html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}

body {
  width: 80vw;
  margin: 100px auto;
  color: white;
  font-size: 17px;
  font-family: 'Arial', Helvetica, sans-serif;
  text-align: center;
  align-items: center;
  line-height: 1.5;
  background-image: linear-gradient(#615dad, #ffc8da);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.body-index {
  width: 350px;
  margin: 100px auto;
  color: white;
  font-size: 17px;
  font-family: 'Arial', Helvetica, sans-serif;
  text-align: center;
  line-height: 1.5;
  background-image: linear-gradient(#615dad, #ffc8da);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.picture-index {
  width: 350px;
  height: 210px;
  border-radius: 7px 7px 0 0;
  background-color: #283e50;
  display: block;
}

.main-index {
  width: 350px;
  background-color: #283e50;
  padding: 20px 15px;
}
main {
  width: 80vw;
  background-color: #283e50;
  padding: 20px 15px;
}

h1 {
  font-size: 50px;
  font-weight: normal;
  font-family: 'Lobster', cursive;
  margin: 0;
  padding: 0;
}
h2 {
  padding: 0;
  margin: 0;
}

nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

.index {
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 15px 0;
  background-color: #1fcca4;
  border-bottom: 0.5px solid #283e50;
  display: block;
}

.index:hover {
  background-color: #1cbb96;
}
.rules {
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 15px 0;
  background-color: #1fcca4;
  border-bottom: 0.5px solid #283e50;
  display: block;
}

.rules:hover {
  background-color: #1cbb96;
}

.play {
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 15px 0;
  background-color: #0197f6;
  display: block;
}

.play:hover {
  background-color: #0090e9;
}

/*CSS pravidla*/

.main-rules {
  border-radius: 7px 7px 0 0;
}
ol {
  text-align: left;
}

ol li {
  margin-bottom: 1rem;
}

.circle,
.cross {
  width: 1em;
  height: 1em;
  filter: invert(100%);
  padding: auto 10px;
}
.icon-play {
  padding: 0;
}
.icon-picture {
  padding-left: 10px;
  display: block;
  align-items: center;
}

.instructions img {
  max-width: 90%;
  height: auto;
}

figure {
  padding: 0 0 1em 0;
  margin: 5px;
  font-size: 70%;
}

figcaption {
  flex-grow: 1;
  text-align: center;
  padding: 0 15px;
  font-style: italic;
}
/*CSS hra*/
.icon {
  display: flex;
  width: 40vw;
  align-items: center;
}
.icon-play {
  display: flex;
  flex: 1 0 50%;
  justify-content: flex-start;
  align-items: baseline;
}
.icon-nav {
  display: flex;
  flex: 1 0 50%;
  justify-content: flex-end;
}
.icon-home {
  background-color: #1fcca4;
  padding: 5px;
  margin-right: 5px;
  border-radius: 3px;
}
.icon-home:hover,
.icon-home:focus {
  background-color: #1cbb96;
}
.icon-restart {
  background-color: #0197f6;
  padding: 5px;
  border-radius: 3px;
}
.icon-restart:hover {
  background-color: #0090e9;
}

.playingArea {
  width: 40vw;
  min-width: 200px;
  padding: 0;
  align-items: center;
  margin: 0 auto;
  display: flex;
  display: block;
}
.row {
  padding: 0;
  margin: 0;
  align-items: center;
  height: 4vw;
}
button {
  width: 4vw;
  height: 4vw;
  justify-content: center;
  padding: 0;
  margin: 0;
  border: 1px solid black;
  background-color: #c1b4d7;
}

button:hover,
button:focus {
  background-color: #e3cbe0;
}

@media (min-width: 540px) {
  .instructions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  figure {
    width: calc((100% - 30px) / 2);
  }
}

@media (min-width: 960px) {
  .body__rules {
    max-width: 1200px;
  }
}
