html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}

body {
  width: 350px;
  margin: 100px auto;
  color: white;
  font-size: 17px;
  font-family: 'Arial', Helvetica, sans-serif;
  text-align: center;
  line-height: 1.5;
  background-image: linear-gradient(#615dad, #ffc8da);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.uvodni {
  width: 350px;
  height: 210px;
  border-radius: 7px 7px 0 0;
  background-color: #283e50;
  display: block;
}

main {
  background-color: #283e50;
  padding: 20px 15px;
}

h1 {
  font-size: 50px;
  font-weight: normal;
  font-family: 'Lobster', cursive;
  margin: 0;
  padding: 0;
}

nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

.index {
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 15px 0;
  background-color: #1fcca4;
  border-bottom: 0.5px solid #283e50;
  display: block;
}

.index:hover {
  background-color: #1cbb96;
}
.pravidla {
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 15px 0;
  background-color: #1fcca4;
  border-bottom: 0.5px solid #283e50;
  display: block;
}

.pravidla:hover {
  background-color: #1cbb96;
}

.hrat {
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 15px 0;
  background-color: #0197f6;
  display: block;
}

.hrat:hover {
  background-color: #0090e9;
}

/* Zde mi začíná CSS pro pravidla*/

.body__pravidla {
  width: 80vw;
}

.main__pravidla {
  border-radius: 7px 7px 0 0;
}

.odrazky {
  list-style-type: decimal;
  text-align: left;
}

.odrazky li {
  margin-bottom: 1em;
}

.koleckaObrazek,
.krizkyObrazek {
  width: 1em;
  height: 1em;
  filter: invert(100%);
}

.instrukce img {
  max-width: 90%;
  height: auto;
}

figure {
  padding: 0 0 1em 0;
  margin: 5px;
  font-size: 70%;
}

figcaption {
  flex-grow: 1;
  text-align: center;
  padding: 0 15px;
  font-style: italic;
}

@media (min-width: 540px) {
  .instrukce {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  figure {
    width: calc((100% - 30px) / 2);
  }
}

@media (min-width: 960px) {
  .body__pravidla {
    max-width: 1200px;
  }
}
